# Dependencias
node_modules
npm-debug.log*

# Archivos generados
dist

# Logs
logs
*.log

# Archivos de entorno
.env
.env.test
.env.local

# Archivos de testing
coverage
tests-integracion
tests-mocked

# Archivos de Docker
Dockerfile
docker-compose.yml
docker-compose.test.yml
.dockerignore

# Archivos de Git
.git
.gitignore

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp