POSTGRES_ROOT_PASSWORD=test_password
DB_USER=test_user
DB_PASSWORD=test_password
DB_NAME=melodia_db_test
DATABASE_PORT=5433
HOSTNAME=localhost
PORT=3001
DB_HOST="localhost"
ENVIRONMENT="test"
DATABASE_URL="postgresql://test_user:test_password@localhost:5433/melodia_db_test"