POSTGRES_ROOT_PASSWORD=password
DB_USER=melodia
DB_PASSWORD=password
DB_NAME=melodia_db
DB_HOST=melodia-db
DATABASE_PORT=5432
HOSTNAME="0.0.0.0"
PORT=8080
ENVIRONMENT=production
DATABASE_URL="postgresql://melodia:password@melodia-db:5432/melodia_db"